.song-wrap {
  
    border: 3px solid rgb(228, 227, 227);
    border-radius: 10px;
    background-color: white;
    color:black;
    display:flex; 
    align-items :center;
    gap:1em;
  }
  
  .song-wrap img{
    display:flex;
    justify-content:left;
    height: 190px;
   
  }

  
.btn-select {
    margin-top: 10px;
    background-color:#7846A8;
    width: 80px;
    height: 35px;
    border: 3px solid #7846A8;
    text-align: center;
    color: white;
    border-radius: 15px;
    margin-bottom: 20px;
  }

.btn-select:hover {
  margin-top: 10px;
  background-color: #331550;
  border: 3px solid #331550;
  width: 80px;
  height: 35px;
  border-radius: 15px;
  color: white;
  margin-bottom: 20px;
}