.song-btn {
    margin-top: 10px;
    background-color:#7846A8;
    width: 160px;
    height: 35px;
    border: 3px solid #7846A8;
    text-align: center;
    color: white;
    border-radius: 15px;
    margin-bottom: 10px;
}

.song-btn:hover {
    margin-top: 10px;
    background-color:#331550;
    width: 160px;
    height: 35px;
    border: 3px solid #331550;
    text-align: center;
    color: white;
    border-radius: 15px;
    margin-bottom: 10px;
}

.App-header .song-btn {
    margin-top: 10px;
    background-color:#7846A8;
    width: 100px;
    height: 45px;
    border: 3px solid #7846A8;
    text-align: center;
    color: white;
    border-radius: 30px;
}

.App-header .song-btn:hover {
    margin-top: 10px;
    background-color:#331550;
    width: 100px;
    height: 45px;
    border: 3px solid #331550;
    text-align: center;
    color: white;
    border-radius: 30px;
}