body {
  background-color: #181818;
} 

.song-wrap {
  
  border: 2px solid whitesmoke;
  border-radius: 10px;
  background-color: #181818 ;
  color:white;
  display:flex;
  align-items :center;
  gap:1em;
}



.btn-select {
  margin-top: 10px;
  background-color:green;
  border: none;
  padding: 5px 5px;
  margin-bottom: 10px;
  border-radius: 5px;
  display:flex;
  justify-content:flex-end;
}


.song-wrap img{
  display:flex;
  justify-content:left;
  height: 150px;
  border-radius: 5px;
 
}

.btn-select button{
  text-decoration: none;
  color: white;
  background-color: green;
  border: none;
}

.App-header input {
  margin-top: 30px;
  border: 3px solid white;
  height: 40px;
  width: 300px;
  border-radius: 50px;
  padding: 0px 10px ;
}

.login button, .logout button, .App-header button 
 {
  background-color: green;
  border: 3px solid green;
  height: 45px;
  width: 100px;
  border-radius: 50px;
  padding: 0px 10px ;
  color: white;
  margin-top: 20px;
}

.logout button {
  float: right;
}

.clear button {
  background-color: green;
  border: 3px solid green;
  height: 30px;
  width: 100px;
  border-radius: 50px;
  padding: 0px 10px ;
  color: white;
  border: none;
  margin-top: 10px;
  margin-bottom: 10px;
}

.front {
  font-size: larger;
  color: white;
  text-align: center;
}

.playlist-title {
  color: white;
}
 

.playlist-title button  {
  background-color: green;
  border: 3px solid green;
  height: 30px;
  width: 150px;
  border-radius: 50px;
  padding: 0px 10px ;
  color: white;
  border: none;
  margin-top: 10px;
  margin-bottom: 10px;
}

.playlist {
  color: white;
}


.playlist button {
  background-color: green;
  border: 3px solid green;
  height: 30px;
  width: 60px;
  border-radius: 50px;
  padding: 0px 10px ;
  color: white;
  border: none;
  margin-top: 10px;
  margin-bottom: 10px;
}

.playlist {
  display: flex;
  flex-direction: column;
}

.playlist-form {
  min-width: 300px;
  width: 400px;
  margin-top: 24px;
  /* resize: none; */
}

span {
  color: red;
}
